@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.postList {
  @include windowPaddingInner;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
