@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.applyList {
  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 90rem;
    background-color: rgba(14, 15, 15, 0.327);
    @include tablet {
      height: 100vw;
    }
  }

  &__form {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 20%;
    right: 5%;
    width: 90%;
    padding: 2rem;
    @include tablet {
      top: 20%;
      right: 30%;
      height: 35rem;
      width: 35rem;

      @include shadowBox;
    }
  }
  &__title {
    margin: 2rem;
  }
}
