@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.applyList {
  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background-color: rgba(14, 15, 15, 0.327);
  }

  &__form {
    position: absolute;
    top: 20%;
    right: 30%;
    height: 25rem;
    width: 35rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include shadowBox;
  }
  &__title {
    margin: 2rem;
  }
}
