@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.postSection {
  display: flex;
  flex-direction: column;

  @include windowPaddingInner;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__post {
    &:nth-child(odd) {
      background-color: $backgroundColor;
    }
    color: $global-text-color;
    text-decoration: none;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid $outline-borders;
    @include tablet {
      width: 25vw;
      padding: 0.5rem;

      align-self: center;
      display: flex;
      flex-direction: column;
      height: 25rem;
      flex-wrap: wrap;

      justify-content: space-between;
      @include shadowBox;
      margin: 2rem 4rem;
      padding: 1.5rem;
    }
  }
  &__replace {
    min-width: 100%;
    height: auto;
    @include tablet {
      min-height: 20vh;
      max-height: 20vh;
    }
  }
  &__picture {
    min-width: 100%;
    min-height: 20vh;
    max-height: 40vh;
    border-radius: 5px;
    @include shadowBox;

    @include tablet {
      min-height: 20vh;
      max-height: 20vh;
    }
  }
  &__noPicture {
    min-width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include subHeader;
    color: rgb(28, 144, 221);
    @include shadowBox;
  }
  &__detailBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__details {
    display: flex;
    flex-direction: row;
    @include tablet {
      flex-direction: column;
    }

    &--user {
      @include body-text-small;
      color: $outline-borders;
    }

    &--time {
      @include body-text-small;
      color: $outline-borders;
    }
  }
}
