@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.postSection {
  display: flex;
  flex-direction: column;

  @include windowPaddingInner;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__post {
    &:nth-child(odd) {
      background-color: $backgroundColor;
    }

    color: $global-text-color;
    text-decoration: none;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    @include shadowBox;
    border-bottom: 1px solid $outline-borders;
    @include tablet {
      display: flex;
      width: 20rem;
      padding: 1rem;
      flex-direction: column;
      height: 24rem;
      margin: 1rem;
      justify-content: space-between;

      padding: 1.5rem;
    }
  }
  &__replace {
    min-width: 100%;
    height: auto;
    @include tablet {
      min-height: 20vh;
      max-height: 20vh;
    }
  }
  &__picture {
    min-width: 100%;
    min-height: 20vh;
    max-height: 40vh;
    border-radius: 5px;
    @include shadowBox;

    @include tablet {
      min-height: 20vh;
      max-height: 20vh;
    }
  }
  &__noPicture {
    min-width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include subHeader;
    color: rgb(28, 144, 221);
    @include shadowBox;
  }
  &__detailBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--user {
      @include body-text-small;
      color: $outline-borders;
    }

    &--time {
      @include body-text-small;
      color: $outline-borders;
    }
  }
}
