@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  @include shadowBox;
  @include windowPaddingInner;

  &__box {
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    margin-bottom: 4rem;
    &--text {
      height: 70%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.border {
  border-right: 3px solid $outline-borders;
}
