@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.category {
  background-color: $backgroundColor;
  @include windowPaddingInner;
  padding: 4rem 0;
  margin: 4rem;
  &___wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 3rem;

    margin: 3rem 0;
  }
  &__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--box {
      margin: 1rem;
      height: 5rem;
      width: 10rem;
      border-radius: 5px;
      @include shadowBox;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: 100%;
      object-fit: cover;
      background-repeat: no-repeat;

      &:hover {
        background-size: 125%;
        opacity: 0.6;
      }
    }
    &--title {
      border-radius: 5px;
      background-color: rgb(40, 114, 217);
      opacity: 0.7;
      padding: 0.1rem 1.2rem;
      &:hover {
        background-size: 125%;
        opacity: 1;
      }
    }
  }
}
.account {
  background-image: url(../../assets/images/debits-credits-1.jpeg);
}
.babysitting {
  background-image: url(../../assets/images/babysitting-350x250.jpeg);
}
.cook {
  background-image: url(../../assets/images/cooking.webp);
}
.cook {
  background-image: url(../../assets/images/cooking.webp);
}
.housekeeping {
  background-image: url(../../assets/images/bigstock-Curly-Caregiver-Cleaning-The-G-296802931.jpeg);
}
.design {
  background-image: url(../../assets/images/editing-from-home-on-a-laptop.jpeg);
}
.gardening {
  background-image: url(../../assets/images/download.jpeg);
}
.dog {
  background-image: url(../../assets/images/dog.jpeg);
}
.technician {
  background-image: url(../../assets/images/te.webp);
}

.house {
  background-image: url(../../assets/images/packing.jpeg);
}
