@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.subTitle {
  margin: 1rem 0;
}

.createPostTwo {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;

    justify-content: center;
    margin: 0 1rem;
  }
  &__textInfo {
    @include shadowBox;
    background-color: #d3d3d322;
    margin: 2rem 0;
    padding: 1rem;
    @include tablet {
      margin: 0 2rem;
    }
  }
  &__otherInfo--payment {
    padding: 1rem;
    @include shadowBox;
    margin-bottom: 2rem;
    background-color: #d3d3d322;
  }
  &__otherInfo--other {
    padding: 1rem;
    @include shadowBox;
    background-color: #d3d3d322;
  }
}

.createPage {
  height: fit-content;
  display: flex;
  flex-direction: column;

  margin-bottom: 4rem;
}

.createPageForm {
  margin-top: 2rem;
  background-color: #d3d3d322;
  padding: 1rem;
  @include shadowBox;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    margin: 3rem;
  }
  &__Upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &--button {
      margin-top: 2rem;
    }
    &--photo {
      margin: 2rem 0;
    }
  }
}

.createPostButton {
  display: flex;
  margin: 2rem 0;
  width: 100%;
  justify-content: center;
  background-color: none;
}
