@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.postPage {
  height: fit-content;
  display: flex;
  flex-direction: column;

  &__text {
    background-image: url(../../assets/images/village-1649968546188-9826.jpg);
    height: 10rem;
    background-size: 150%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    @include tablet {
      height: 20rem;
      background-size: 120%;
    }

    &--header,
    &--subheader {
      background-color: white;
      padding: 0.2rem 1rem;
      opacity: 0.8;
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #3a86ff;
      @include tablet {
        padding: 1rem 2rem;
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    &--subheaderTwo {
      color: #d3d3d3;
      font-weight: 800;
      font-size: 1rem;
      line-height: 1rem;
      padding: 0.2rem 1rem;
      @include tablet {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}

.newPostSection {
  &__topic {
    padding: 0 2rem;
    margin: 1rem 0;
  }
}
.searchBar {
  margin: 2rem 0;
  width: 100%;
  @include windowPaddingInner;
  @include tablet {
    margin: 2rem 4rem;
    width: 70vw;
    display: flex;
    justify-self: end;
  }
}

.swiper {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  @include tablet {
    margin: 1rem 0;
    width: 40%;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
