.dropdown {
  width: 20rem;
}

.dropdowninside {
  border: 1px solid red;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 20rem;
  border-radius: 4px;
  border: 1px solid gray;
  color: black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  // margin: 1rem 0;
}

.subTitle {
  margin: 1rem 0;
}

.create-post {
  margin: 0 1rem;
}
