@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.dropdown {
  width: 20rem;
}

.dropdowninside {
  border: 1px solid red;
}

.input {
  box-sizing: border-box;
  width: 20rem;
  border-radius: 4px;
  border: 1px solid gray;
  color: black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  // margin: 1rem 0;
}

.subTitle {
  margin: 1rem 0;
}

.createPostTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;

  &__textInfo {
    padding: 2rem;
    margin-right: 4rem;
    @include shadowBox;
    background-color: #d3d3d322;
  }
  &__otherInfo--payment {
    padding: 2rem;
    @include shadowBox;
    margin-bottom: 2rem;
    background-color: #d3d3d322;
  }
  &__otherInfo--other {
    padding: 2rem;
    @include shadowBox;
    background-color: #d3d3d322;
  }
}

.createPage {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 4rem;
}

.createPageForm {
  background-color: #d3d3d322;

  margin: 3rem;
  @include shadowBox;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  &__Upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &--button {
      margin-top: 2rem;
    }
  }
}

.createPostButton {
  display: flex;
  margin-top: 2rem;
  margin-left: 20rem;
}
