@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include body-text-medium;
  font-family: "Familjen Grotesk", sans-serif;
  color: $global-text-color;
}

.inputStyle {
  width: 100%;
  border: 1px solid $outline-borders;
  border-radius: 5px;
  padding-left: 2rem;
  height: 3rem;
  @include tablet {
    padding-left: 2rem;
    width: 20rem;
  }
}

.dropdown {
  width: 100%;
  @include tablet {
    width: 20rem;
  }
}

.input {
  box-sizing: border-box;
  width: 20rem;
  border-radius: 4px;
  border: 1px solid gray;
  color: black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  // margin: 1rem 0;
}

.inputStyleBig {
  height: 10rem;
  border: 1px solid $outline-borders;
  border-radius: 5px;
  padding-left: 2rem;
  padding-bottom: 6rem;
  width: 100%;
  @include tablet {
    width: 20rem;
  }
}

.errorMessage {
  color: red;
}
.navLink {
  text-decoration: none;
  color: $global-text-color;
}

.LinkButton {
  display: flex;
  align-items: center;
  @include shadowBox;
}
.noDisplay {
  text-decoration: none;
}

.icon {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  background-color: $backgroundColor;
  border-radius: 50%;
}

.headerFix {
  margin: 4rem 0 2rem 0;
  font-size: 1rem;
}

// .fontStyletwo {
//   font-family: helvetica;
// }
.postType,
.postStatus {
  @include shadowBox;
  padding: 0.2rem;
  border-radius: 50px;
  width: 12rem;
  text-align: center;
  color: white;
  font-weight: 600;
}

.postType {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(27, 150, 199, 0.567);
}

.postStatus {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(55, 206, 21, 0.731);
}

.pageHeader {
  margin: 1rem 0;
  font-size: 2rem;

  @include tablet {
    margin: 2rem 0;
    font-size: 3rem;
  }
}
.postSection__picture {
  width: 100%;
  @include tablet {
    height: 30rem;
  }
}
