@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.category {
  background-color: $backgroundColor;
  padding: 2rem 0;
  &___wrapper {
    display: flex;
    flex-direction: column;
  }

  &__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 4rem;
    &--box {
      height: 2rem;
      margin: 1rem;

      width: fit-content;
      color: white;
      @include tablet {
        height: 5rem;
        width: 10rem;
        border-radius: 5px;
        @include shadowBox;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
      }
      &:hover {
        background-size: 125%;
        opacity: 0.6;
      }
    }
    &--showMore {
      justify-self: center;
      @include windowPaddingInner;
      font-weight: 600;

      color: $small-placeholder-text;
      &:hover {
        background-color: #1976d2;
        @include shadowBox;
      }
      @include tablet {
        margin-top: 3rem;
      }
    }
    &--title {
      border-radius: 5px;
      background-color: #1976d2;

      padding: 0.2rem 1.2rem;
      &:hover {
        background-size: 125%;
        opacity: 1;
      }
    }
  }
}
.account {
  @include tablet {
    background-image: url(../../assets/images/debits-credits-1.jpeg);
  }
}
.babysitting {
  @include tablet {
    background-image: url(../../assets/images/babysitting-350x250.jpeg);
  }
}
.cook {
  @include tablet {
    background-image: url(../../assets/images/cooking.webp);
  }
}
.cook {
  @include tablet {
    background-image: url(../../assets/images/cooking.webp);
  }
}
.housekeeping {
  @include tablet {
    background-image: url(../../assets/images/bigstock-Curly-Caregiver-Cleaning-The-G-296802931.jpeg);
  }
}
.design {
  @include tablet {
    background-image: url(../../assets/images/editing-from-home-on-a-laptop.jpeg);
  }
}
.gardening {
  @include tablet {
    background-image: url(../../assets/images/download.jpeg);
  }
}
.dog {
  @include tablet {
    background-image: url(../../assets/images/dog.jpeg);
  }
}
.technician {
  @include tablet {
    background-image: url(../../assets/images/te.webp);
  }
}
.house {
  @include tablet {
    background-image: url(../../assets/images/packing.jpeg);
  }
}
