//font
$primary-font: "Titillium Web";

//primary color
$global-text-color: #13182c; //instock-Black
$outline-borders: #bdc5d5;

$global-white-color: #ffffff;
$backgroundColor: rgb(240, 239, 235, 0.5);
//secondary color
$small-placeholder-text: #5c667e;

//background colors
$nav-header-and-button-hover-bg: #232940;
$page-column-cta-bg: #f7f8f9;

//supporting colors
$instock-label: #158463;
$out-of-stock-delete: #c94515;

//shadow
$shadow: rgba(19, 24, 44, 0.1);

//size
$desktop-width: 1280px;
$desktop-column-width: 3.9375rem;
$desktop-gutter-width: 1.5rem;
$tabletmin-width: 768px;
$tabletmax-width: 79.9375rem;
$tablet-gutter-width: 1.5rem;
$tablet-margin-width: 2rem;
$mobile-gutter-width: 1rem;
$mobile-margin-width: 1rem;

//margin
$mPadding: 1rem;
$mPaddingPlus: 1.5rem;

$dTPadding: 1.5rem;
$dTPaddingPlus: 2.25rem;
