@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// .postsection {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.postPage {
  @include windowPaddingInner;
  height: fit-content;
  display: flex;
  flex-direction: column;
  &__text {
    height: fit-content;
    margin-bottom: 2rem;
  }
  &__subheader {
    font-size: 3rem;
    margin: 1rem 0;
    width: 70%;
    font-weight: 800;
  }
  &__box {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 20vw;
  }
  &__section {
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $backgroundColor;
      @include shadowBox;
      text-decoration: underline;
    }
  }
}

.active {
  background-color: $backgroundColor;

  @include shadowBox;
}
