@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// .postsection {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.postPage {
  @include windowPaddingInner;
  background-color: $backgroundColor;
  &__box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    @include shadowBox;
    background-color: white;
  }
}
