@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.register {
  position: absolute;
  top: 15vh;
  left: 15vw;
  background-color: white;
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include shadowBox;
  border-radius: 5px;

  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(14, 15, 15, 0.327);
    width: 100vw;
    height: 100vh;
  }

  &__heading {
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  &__button {
    display: flex;
    align-self: flex-end;
    margin-right: 10rem;
    margin-top: 8rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  height: 50rem;
  @include windowPaddingInner;
  background-color: $backgroundColor;
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    height: 70rem;
    &--areaone {
      @include shadowBox;
      width: 30%;
      height: 80%;
      padding: 2rem;
      margin: 2rem;
      background-color: white;
    }
    &--areatwo {
      @include shadowBox;
      width: 70%;
      height: 80%;
      padding: 2rem;
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: white;
    }
    &--image {
      width: 16rem;
      height: auto;
      border-radius: 5px;
    }

    &--areathree {
      width: 100%;
      height: 80%;
      padding: 2rem;
      margin: 0 2rem;
      @include shadowBox;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
    }

    &--functionArea {
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 2rem;
    }
  }
}

.regform2 {
  width: 100%;
  height: 70%;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    margin: 3rem 0;
  }
  &__button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 3rem 0 2rem 0;
  }
}
