@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.toggleIcon {
  font-size: 30px;

  vertical-align: middle;
  position: absolute;
  top: 1.4rem;
  right: 2.5rem;
  z-index: 10;
  cursor: pointer;
  @include tablet {
    top: 1rem;
    right: 1.5rem;
  }
}

.whiteState {
  color: white;
}
.darkState {
  color: black;
}
