@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include windowPaddingInner;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d36a;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  @include tablet {
    background-color: #d3d3d30e;
    flex-direction: row;
    position: sticky;
    top: 1px;
    z-index: 10;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    position: absolute;
    right: 15vw;
    @include shadowBox;
    background-color: white;
    flex-direction: column;
    width: 70vw;
    padding: 2rem;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    @include tablet {
      right: 8vw;
      width: 70%;
      height: 20vh;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__user {
    @include tablet {
      display: flex;
      margin-bottom: 1rem;
      justify-self: center;
      align-self: center;
    }
  }
  &__userIcon {
    @include tablet {
      margin-left: 30vw;
    }
  }
  &__logo {
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0;

    color: #3a86ff;

    &--special {
      color: #d3d3d3;

      &:hover {
        color: #f8edeb;
      }
    }
  }
  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    @include tablet {
      width: 28vw;
      margin: 1.5rem 0;
    }
    &--pageDefault,
    &--pageState {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1976d2;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      width: 100%;
      height: 2.25rem;
      width: 100%;
      border-radius: 1.25rem;
      @include tablet {
        width: fit-content;
        height: 2.375rem;
        width: 50%;
        padding: 0 1rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    &--pageState {
      color: white;
      background-color: #1976d2;
    }
  }
}

.activeheader {
  border: none;
}
