@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
.post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include shadowBox;
  margin: 2rem;
  padding: 1.5rem;

  &__apply {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #1976d2;
    border-radius: 50px;
    margin: 2rem 0;
    @include tablet {
      width: 10rem;
    }
  }
}

.postDetails {
  @include windowPaddingInner;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  &__box {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__box1 {
    display: flex;
    flex-direction: column;

    &--headline,
    &--StatAndCat {
      margin: 1rem 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include tablet {
      }
    }
    &--headline {
      padding: 1rem 0;

      @include shadowBox;
    }

    &--name {
      margin: 0 1rem;
    }
  }
  &__box2 {
    @include shadowBox;

    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    @include tablet {
      width: 40%;
    }
  }
}

.appliants {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  @include shadowBox;
  background-color: $backgroundColor;
  margin-bottom: 2rem;
  @include tablet {
  }
}

.post__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  @include tablet {
    justify-content: end;
  }
}

.postSection__postPicture {
  width: 100%;
  height: auto;
  border-radius: 5px;
  @include tablet {
    width: 40%;
  }
}
.postSection__postWrapper {
  margin: 2rem 0;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.time {
  color: $outline-borders;
}

.delete {
  margin-top: 3rem;
  width: 10rem;
}

.applicantsSpe {
  background-color: rgb(21, 215, 167);
  border-radius: 25px;
  width: fit-content;
  padding: 0.3rem 1rem;
  color: white;
}

.applicantsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
