@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.loginSuccessed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  margin: 4rem;

  &__background {
    @include windowPaddingInner;
    @include shadowBox;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include tablet {
      justify-content: center;
      align-items: center;

      background-color: $backgroundColor;
    }
  }

  &__title {
    margin-bottom: 5rem;
  }
}

.create-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  align-items: center;
  &__textInfo {
    @include shadowBox;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
  }
  &__otherInfo {
    &--payment {
      @include shadowBox;
    }
    &--other {
      @include shadowBox;
    }
  }
}

.createPage {
  @include windowPaddingInner;
}

.details {
  height: 10rem;
}
