@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  @include windowPaddingInner;
  &__edit {
    display: flex;
    align-self: end;
    margin: 2rem 0;
  }

  &__info {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--areaone {
      display: flex;
      justify-content: center;
      padding: 2rem;
      @include tablet {
        @include shadowBox;
        padding: 1rem;
        width: 50%;
        display: flex;
        background-color: $backgroundColor;
        justify-content: center;
      }
    }
    &--areatwo {
      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        paddingl: 0 2rem;
        width: 50%;
      }
    }
    &--image {
      width: 100%;
      height: auto;
      border-radius: 50%;

      @include tablet {
        width: 20rem;
        height: 19rem;
      }
    }

    &--areathree {
      background-color: $backgroundColor;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      @include tablet {
        margin: 2rem 0;

        @include shadowBox;
      }
    }

    &--functionArea {
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    &--picture {
      height: auto;
      width: 100%;
      border-radius: 5px;
      @include tablet {
        width: 45%;
      }
    }
    &--text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--nameAndPerform {
      @include shadowBox;
      padding: 1rem;
      width: 50%;
      margin: 1rem 0;
      background-color: $backgroundColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include tablet {
        margin: 0;
        margin-left: 4rem;
      }
    }
    &--contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      @include shadowBox;
      background-color: $backgroundColor;
      @include tablet {
        margin: 0;
        width: auto;
        height: 45%;
        margin-left: 4rem;
      }
    }
    &--subheader {
      @include subHeader;
      margin: 1rem 0;
    }
    &--postTextInfo {
      margin: 1rem 0;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: start;
      }
    }
    &--postText {
      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4rem;
        width: 30vw;
      }
    }
  }
}
.morePost {
  display: flex;
  align-self: end;
  margin: 1rem 0;
}

.register {
  position: absolute;
  top: 15vh;

  background-color: white;
  width: 90%;
  padding: 2rem;

  @include shadowBox;
  border-radius: 5px;
  @include tablet {
    left: 15vw;
    background-color: white;
    width: 75vw;
    padding-top: 4rem;
    padding-left: 4rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include shadowBox;
    border-radius: 5px;
  }
  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(14, 15, 15, 0.327);
    width: 100vw;
    height: 90rem;
  }

  &__heading {
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  &__button {
    display: flex;
    align-self: flex-end;
    margin-right: 10rem;
    margin-top: 4rem;
  }
}
.regform2 {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    @include tablet {
      flex-direction: row;

      margin: 3rem 0;
    }

    &--topic {
      @include tablet {
        margin-right: 2rem;
      }
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding: 3rem 0 2rem 0;
    }
  }
}
