@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 10rem 2rem;
    height: 6rem;
    position: sticky;
    top: 1px;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    margin-bottom: 1rem;
    justify-self: center;
    align-self: center;
  }

  &__logo {
    font-size: 4rem;
    font-weight: 600;
    color: #3a86ff;

    &--special {
      color: #d3d3d3;

      &:hover {
        color: #f8edeb;
      }
    }

    &:hover {
      color: #ece4db;
    }
  }
}

.activeheader {
  border: none;
}
