@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: rgba(248, 249, 250, 0.683);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 5rem;
  position: sticky;
  top: 1px;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  &__user {
    display: flex;
    margin-bottom: 1rem;
    justify-self: center;
    align-self: center;
  }

  &__logo {
    font-size: 4rem;
    font-weight: 600;
    color: #d4a373;

    &--special {
      color: #606c38;

      &:hover {
        color: #f8edeb;
      }
    }

    &:hover {
      color: #ece4db;
    }
  }
}

.activeheader {
  border: none;
}
