@use "./styles/partials/global" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.darkTheme {
  background-color: black;
  color: white;
}

.lightTheme {
  background-color: white;
  color: black;
}
